@font-face{
    font-family: Lato-Regular;
    src : url(../fonts/montserrat/Montserrat-Regular.otf);
}

@font-face{
    font-family: Montserrat-ExtraLight;
    src : url(../fonts/montserrat/Montserrat-ExtraLight.otf);
}

@font-face{
    font-family: Montserrat-Light;
    src : url(../fonts/montserrat/Montserrat-Light.otf);
}

@font-face{
    font-family: Montserrat-Bold;
    src : url(../fonts/montserrat/Montserrat-Bold.otf);
}

@font-face{
    font-family: Montserrat-Medium;
    src : url(../fonts/montserrat/Montserrat-Medium.otf);
}

body {
	padding-top: 100px;
}

#nav {
	background-color: #6767fa;
}

.about img {
	max-width: 100%;
	height: auto;
}

#middle {
	margin-top: 50px;
}

#logo_top {
	margin-bottom: 50px;
}

#logo_middle {
	padding-top: 20px;
}

#title {
	font-weight: bold;
}

.about h3 {
	margin-bottom: 30px;
}

.about ul {
	margin-bottom: 50px;
}

#visi {
	margin-bottom: 35px;
	padding-top: 0px;
	font-weight: bold;
}

#title-2 {
	font-weight: bold;
	margin-bottom: 80px;
}

#pic_bottom {
	margin-bottom: 30px;
}

.about h4 {
	margin-bottom: 30px;
}

.about li {
	font-family: 'Montserrat-Light';
}

#iframe {
	margin-bottom: 35px;
}

.left:hover {
	transform : rotate(360deg);
	transition: 1.5s;
}

.left:active {
	transform : rotate(360deg);
	transition: 1.5s;
}

.middle:hover {
	transform : rotate(360deg);
	transition: 1.5s;
}

.middle:active {
	transform : rotate(360deg);
	transition: 1.5s;
}

.right:hover {
	transform : rotate(360deg);
	transition: 1.5s;
}

.right:active {
	transform : rotate(360deg);
	transition: 1.5s;
}