#nav {
  background-color: #6767fa;
}

.gallery h1 {
  padding-top: 70px;
}

.gallery hr {
  width: 250px;
  border: 1px solid #333;
  margin-bottom: 35px;
}

.sub-judul {
  margin-bottom: 70px;
}

#item {
  opacity: 0;
  transform: translate(0, -50px);
  transition: 1.5s
}

#item.muncul {
  opacity: 1;
  transform: translate(0, 0);
}

.mtb-60 {
    margin: 35px 0;
}

.page {
  margin-bottom: 35px;
}